#container {
    margin: 0 auto;
    max-width: 800px;
    background-color: #7a6666;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  p {
    margin: 5px 0;
  }
  
  strong {
    font-weight: bold;
  }
 /* .button{
height:30px;
width:50px;
background-color:floralwhite;
border-radius:10%;
 }*/
     


.boton {
  background-color: #199319;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
}

.Boton:hover {
  background-color: #7a6666;
}

